body{
  background-color: white;
}
.tit{
	color: red;
	font-size: 30px;
	display: flex;
	background-color: black;
	justify-content: center;
	align-items: center;
	margin-left: 200px;
	font-weight: bold;
	margin-right: 200px;
	margin-bottom: 100px;
	padding-bottom: 20px;
}
.titlul2{
	font-style: italic;
}
.cen{
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
	grid-gap: 34%;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.cen1{
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
  margin-bottom: 200px;
	grid-gap: 21%;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.cen2{
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
  margin-bottom: 200px;
	grid-gap: 21%;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	margin-top: 7%;
}
.cen3{
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
	grid-gap: 21%;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	margin-bottom: -30%;
}
.cen4{
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
	grid-gap: 21%;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	margin-bottom: 20%;
	margin-top: 7%;
}
.cen5{
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
	grid-gap: 34%;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	margin-bottom: 20%;
	margin-top: -10%;
}
.capsula{
	margin-top: -50%;
	display: grid;
	margin-top: -10%;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5%;
}
a{
	display: inline-block;
}
p{
	margin-bottom: 0px;
}
.big-box{
	padding-bottom: 100px;
	margin-left: 4%;
	margin-right: 200px;
}
.navbar ul{
	list-style-type: none;
	background-color: hsl(0, 0%, 27%);
	padding: 0;
	margin: 0;
}
.navbar a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;
}
.navbar a:hover{
	background-color: hsl(0, 0%, 15%);
}
.titlul{
	background-color: black;
	text-align: center;
}
.tit {
	text-align: center;
}
.Edmund{
	height: 400px;
	width: 300px;
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: -90%;
	margin-bottom: 90px;
}
.dia-congo{
	height: 650px;
	width: 500px;
}
.op{
	margin-top: -60%;
}
.graf{
	height: 500px;
	margin-bottom: 60px;
	margin-bottom: -30%;
}
.info{
	display:grid;
	grid-template-rows: 1fr 1fr;
}
.info2{
	display:grid;
	grid-template-rows: 1fr 1fr;
}
.text{
	font-size: 20px;
	text-align:justify;
}
.text9{
	font-size: 20px;
	text-align: justify;
	margin-bottom: -90%;
}
.line{
	margin-left: 25px;
}
.poza-Boma{
	margin-left: 3%;
	margin-top: 10%;
	width:650px;
	height: 550px;
}
.publi{
	width: 600px;
	margin-top: 60px;
	height: 500px;
	margin-right: 15px;
}
.leopord{
	height: 600px;
	width: 500px;
	margin-left: 60px;
	margin-top:-0.2%;
	margin-bottom: -30%;
}
.kids{
	width: 600px;
	height: 730px;
	margin-left: 40px;
	object-fit: cover;
}
.slaves{
	height: 500px;
	margin-top: 10%;
	width: 600px;
	box-shadow: 15px 2px 15px rgba(238, 0, 0, 0.5);
}
.text2{
	font-size: 20px;
	text-align:justify;
	line-height: 21px;
}
.text3{
	font-size: 20px;
	margin-right: 60px;
	text-align: justify;
}
.text33{
	font-size: 20px;
	text-align: justify;
	margin-right: 60px;
	margin-bottom: -50%;
}
.text333{
	font-size: 20px;
	margin-right: 60px;
	margin-bottom: -49%;
	text-align: justify;
	margin-top: -7%;
}
.text3333{
	font-size: 20px;
	text-align: justify;
	margin-right: 60px;
	margin-top: 90%;
	margin-bottom: 300px;
}
.text4{
	font-size: 20px;
	text-align: justify;
	line-height: 36px;
}
.text44{
	font-size: 20px;
	text-align: justify;
	line-height: 36px;
}
.para33{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color:red;
	font-size: 30px;
	border-radius: 6;
	border: none;
	align-items: center;
	margin-left: 54%;
	margin-bottom: 12%;
	cursor: pointer;
	transition: opacity 0.15s;
	background-color: white;
}
.para33:hover{
	opacity: 0.4;
}
.leo{
	display: grid;
	grid-template-columns: 1fr;
	color:red;
}
.spat{
	margin-top: 90px;
}
.kids-gun{
	width: 700px;
	height: 550px;
	margin-right: 60px;
	box-shadow: 15px 5px 40px rgba(255, 0, 0, 0.7);
}
.sursa{
	display: block;
}
.news{
	width: 500px;
	margin-top: 50px;
}
.arti{
	width: 100%;
	height: auto;
	display: block;
	margin: 20px auto;
}
.op{
	margin-top: 10%;
}
.arm{
	height: 500px;
	margin-left: 50px;
}
.kids2{
	width: 600px;
	height: 600px;
	margin-left: 3%;
	margin-top: 60px;
	object-fit: cover;
}
.zoo{
	margin-top: 40%;
}
@media only screen and (min-width: 1179px) {
  .text{
    margin-bottom: 20%;
    margin-top: -12%;
  }
	.navbar {
		background-color: hsl(0, 0%, 29%);
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
	}
	.navbar ul {
		list-style-type: none;
		display: flex;
		flex-wrap: nowrap;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	.navbar li {
		flex: mone;
	}
	.navbar a {
		color: white;
		text-decoration: none;
		padding: 15px;
		display: block;
		text-align: center;
		transition: opacity 0.15s;
	}
	.navbar a:hover {
		opacity: 0.4;
		background-color: hsl(0, 0%, 0%);
	}
	.slaves{
		margin-bottom: -80%;
		margin-bottom: -30%;
	}
	.cen5{
		margin-top: -20%;
	}
	.cen2{
		margin-top: -20%;
	}
}
@media only screen and (max-width: 1170px) {
	.navbar ul{
		overflow-x: auto;
	}
	.test{
		margin-left: 100px;
    margin-bottom: 0;
	}
	.navbar a{
		padding: 20px;
	}
	.slaves{
		margin-bottom: -100%;
		margin-top: -50%;
	}
	.publi{
		margin-bottom: -10%;
		margin-top: -43%;
	}
	.zoo{
		margin-bottom: -20%;
	}
	.dia-congo{
		margin-top: -150%;
		margin-bottom: -30%;
	}
	.news{
		margin-top: 30%;
		margin-bottom: -70%;
	}
	.info2{
		margin-bottom: -300%;
	}
	.zoo{
		margin-bottom: -70%;
	}
	.poza-Boma{
		margin-top: -15%;
		margin-bottom: -35%;
	}
	.tit{
		align-items: center;
	}
	.text4{
		font-size: 16px;
		line-height: 1.4;
	}
	.arti{
		height: 900px;
		width:700px ;
	}
	.text44 {
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 90%;
		margin-top: -40%;
		margin-right: 20%;
	}
	.big-box {
		padding: 10px;
	}
	.big-box2 img{
		padding: 10px;
		text-align: center;
	}
	.Edmund{
		margin-top: -87%;
		margin-bottom: -120%;
	}
	.op{
		margin-top: 50%;
	}
	.kids-gun{
		margin-bottom: -30%;
    margin-top: -30%;
	}
	.titlul2{
		background-color: black;
	}
	.slaves{
		margin-top: 30%;
	}
	.dia-congo{
		margin-top: 50%;
		margin-bottom: -40%;
	}
	.kids{
		margin-top: 90%;
	}
	.text4{
		margin-right: 10%;
		margin-left: 10%;
	}
	.text33{
		margin-right: 10%;
		margin-left: 10%;
	}
	.text3{
		margin-right: 10%;
		margin-left: 10%;
	}
	.text{
		margin-right: 10%;
		margin-left: 10%;
    margin-bottom: 20%;
	}
	.text2{
		margin-right: 10%;
		margin-left: 10%;
	}
	.text9{
		margin-right: 10%;
		margin-left: 10%;
	}
	.poza-Boma{
		margin-top: 5px;
	}
}
